.searchinput{

margin-left: 200px;
width: 600px;
height:50px;
justify-self: center;
align-self: center;
border-radius: 10px;
}

.searchinput:focus{border-color: rgb(3, 163, 163);
border-style:solid;
justify-self: center;

box-shadow: 9px 9px 24px -7px rgba(3,163,163,1);
}

.enterboxes{background-color: rgb(3, 163, 163);
border-radius: 20px;
width: 290px;
padding: 40px;
margin:10px;
margin-top:40px;
height:300px;}

.dropdown{background-color:rgb(3, 163, 163);
    border-radius: 20px;
    width: 290px;
    padding: 30px;
    margin:10px;
    height:300px;}

.search-container{background-color: black;
    width:360px;
    height:800px;
    padding: 20px;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 9px 9px 24px -7px rgba(3,163,163,1);
    border-color:rgb(3, 163, 163);
    margin: 5px;
}

.button-reset{padding: 3px;
    margin-top: 30px;
margin-left: 80px;}

.search-page{display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;


}

.photo-cards{display: flex;
    flex-wrap: wrap;
    align-self: center;
    margin-top:20px;

}

.posters{
    margin: 20px;
    width:200px;



}