@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.base-container{
width: 100%;
margin-top: 100px;
display:flex;
flex-direction:column;
align-items:center;
justify-content: center;
}

.header{
    display: flex;
    padding:2px;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;}

.content{
display:flex;
flex-direction:column;
}

.image-login{width:300px;
height:200px}

.image-login img{width:250px;
height:200px}

.form{ margin-top:2em;
display:flex;
flex-direction: column;
align-items:center;}

.form-group{display:flex;
margin-bottom: 10px;
flex-direction: column;
align-items:flex-start;
width:fit-content;
}

.form-group label{font-size: 20px;}

.form-group input{margin-top:6px;
min-width:300px;
height:37px;
padding:0px 10px;
font-size:16px;
font-family:"Open Sans", sans-serif;
background-color: lightgray;
border:0;
border-radius: 4px;
margin-bottom: 10px;
transition: all 250ms ease-in-out;

}


.form-group input:focus{outline:none;
box-shadow:0px 0px 12px 0.8px rgb(61, 61, 197)}

.footer{
    margin-top:4px;
}

.valid{font-size: 10px;
color:red;
margin-top:0px;
margin-bottom: 0px;
padding:0px}