@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

.base-container{
width: 100%;

display:flex;
flex-direction:column;
align-items:center;
justify-content: center;
}

.header{
    display: flex;
    padding:2px;
    font-size: 20px;
    font-family: 'Montserrat',
    sans-serif;
    }

.content{
display:flex;
flex-direction:column;
justify-content: center;
align-items: center;
}

.image-login{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #09ff00;
    border-bottom: 4px solid #f73a4c;
    /* background-image: url(../../../images/backimg2.jpg); */
    background: #bdbcbc46;
    width:130px;
height:110px;
    transition: 0.4s ease;
}

.image-login:hover {
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid #f73a4c;
   border-bottom: 4px solid #09ff00;
    /* background-image: url(../../../images/backimg2.jpg); */
    background: #bdbcbc46;
    width: 130px;
    height: 110px
}

/* Underline From Center */
/* .image-login {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.image-login:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.image-login:hover:before,
.image-login:focus:before,
.image-login:active:before {
    left: 0;
    right: 0;
} */

.image-login-sign-in{
margin-bottom: 0px;
margin-top: -50px;
}

.image-login img{width:250px;
height:200px}

.form{ margin-top:2em;
display:flex;
flex-direction: column;
align-items:center;}

.form-group
{display:flex;
margin-bottom: 10px;
flex-direction: column;
align-items:flex-start;
width:fit-content;
}

.form-group label{font-size: 20px;}

.form-group input{margin-top:6px;
min-width:300px;
height:37px;
padding:0px 10px;
font-size:16px;
font-family: 'Montserrat',
sans-serif;
background-color: transparent;
border-bottom: 1px solid #F73A4C !important;
margin-bottom: 10px;
transition: all 250ms ease-in-out;
 border: none;
 outline: none;
 padding: 5px;
 transition: 0.3s ease-in-out;

}


.form-group input:focus{
    outline:none;
box-shadow: 0px 1px 27px 0px rgba(0, 0, 0, 0.24);
border-bottom: 3px solid #08c721 !important;
}

.login-footer, .register-footer{
    margin-top:4px;
}

.valid{font-size: 10px;
color:red;
margin-top:0px;
margin-bottom: 0px;
padding:0px}

@media screen and (max-width: 800px) {
    .header {
        display: none !important;
        margin-top: -70px;
        display: flex;
        padding: 2px;
        font-size: 20px;
        font-family: 'Montserrat',
            sans-serif;
    }
    .form-username input{
min-width: 60px !important;
font-size: 8px;
    }
    .form-pass input {
        min-width: 60px !important;
        font-size: 8px;
    }

    .image-login {
        display: none;
    }

    .image-login {
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 4px solid #09ff00;
        border-bottom: 4px solid #f73a4c;
        /* background-image: url(../../../images/backimg2.jpg); */
        background: #bdbcbc46;
        width: 100px;
        height: 80px;
        transition: 0.4s ease;
    }
    .form-group {
        display: flex;
        margin-top: -30px;
        margin-bottom: 10px;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
    }
}