.Carousell {
  font-family: sans-serif;
  text-align: center;

   display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width:340px;
    height: 440px;
    border-radius: 15px !important;
    outline: none;
    transition: all 0.3s ease;
  
    transition: all 0.5s ease-in-out;
}




.rec-item-wrapper,
.rec-item-wrapper:hover .image {
  opacity: 1;
  width:360px;
  height: 460px;
  -webkit-animation: flash 2s;
  animation: flash 2s;
}

@-webkit-keyframes flash {
  0% {
    opacity: .3;
  }

  100% {
    opacity:1;
  }
}

@keyframes flash {
  0% {
    opacity:.3;
  }

  100% {
    opacity:1;
  }
}


.noDisplay {
  display: none;
}
.rec-carousel-wrapper {
  background-image: url(../images/backimg1.png);
 
position: absolute;
  margin-top:250px;
  background-repeat: no-repeat;
  background-size: cover;

 
}

.rec-item-wrapper {
  display: flex;
  align-items: center;
 width:365px !important;
 height: 475px !important;

}

.rec-carousel {
  padding-top: 9px;
  width: 100% !important;
  
}

.chowzb {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background-color:#F73A4C !important;
  color: #1f2323 !important;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  line-height: 40px !important;
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center;
  cursor: pointer;
  outline: none;
  
}

.chowzb:hover {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background-color: #d32e3e !important;
  
  color: #54ab93 !important;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  line-height: 40px !important;
  -webkit-align-self: center !important;
  -ms-flex-item-align: center !important;
  align-self: center;
  cursor: pointer;
  outline: none;

}

.rec-arrow-right {
margin-right: 10px;
}

.rec-arrow-left {
  margin-left: 10px;
}


/* arrow color when reaches the end */
.hCVuYx {
  display: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6em;
  background-color: rgba(103, 58, 183, 0.1);
  color: #999;
  box-shadow: 0 0 2px 0px #333;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  min-width: 50px;
  line-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  outline: none;
}

.ikyGAt {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border: none;
  margin: 5px !important;
  background-color: #333232 !important;
  font-size: 0px !important;
  content: "";
  border: 0px !important;
  height: 5px !important;
  width: 15px !important;
  box-shadow: 0 0 0px 0px rgba(0, 0, 0, 0.5) !important;
  border-radius: 0px !important;
  outline: none;
}

.brcpxa {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
  border: none;
 margin: 5px !important;
  background-color:#F73A4C !important;
  font-size: 0px !important;
  content: "";
  border: 0px !important;
  height:5px !important;
  width: 15px !important;
  box-shadow: 0 0 1px 1px #F73A4C !important;
  border-radius: 0px !important;
  outline: none;
}

.kRlYRh {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0px !important;
}