.popcorn {
    display: flex;
    justify-content: center;
  position: absolute;
    align-items: center;
    width: 60px;
    height: 80px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    margin-left: -60px;
    top: 60%;
    margin-top: -60px;
    /* margin: 100px; */
    border: 16px solid #54ab93;
    /* Light grey */
    border-top: 16px solid #F73A4C;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* .rec-dot {
    display: none;
} */

.loading {
    margin: 200px;
}
@media screen and (max-height: 700px) {
    .loader {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        margin-left: -60px;
        top: 60%;
        margin-top: 30px !important;
        /* margin: 100px; */
        border: 16px solid #54ab93;
        /* Light grey */
        border-top: 16px solid #F73A4C;
        /* Blue */
        border-radius: 50%;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }
}