.join-us-main {

display: flex;
justify-content: center;
margin: 150px 0px 150px 0px;
}


.join-us-main-container {
    border-radius: 10px;
    /* flex-direction: column; */
    min-height: 350px;
    /* border: 5px solid black; */
    background-image: url(../images/backimg3.jpg);
    width: 80%;
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    
    
   
}

.text-container{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.text-container h1 {
    margin: 0;
     white-space: pre-wrap;
     color: #fff;
     padding: 0;
     
}

.join-us-main-container-text {
      white-space: pre-wrap;
      color: #fff;
      font-size:5em;
      padding: 10px;
}
.join-us-main-container-text1 {
    white-space: pre-wrap;
    color: #fff;
    font-size: 4.1em;
    padding: 15px;
}
.join-us-main-container-text2{
    white-space: pre-wrap;
    color: #fff;
    font-size: 3.5em;
    padding: 15px;
}
.join-us-main-container-text3 {
    white-space: pre-wrap;
    color: #fff;
    font-size: 5.5em;
    padding: 15px;
}


.button-container {
 justify-self: center;
 margin-right: auto;
 margin-left: auto;
}

.text-container-wrap-text {
    margin-left: 260px;
}
.text-container-wrap-text1 {
    margin-left: 320px;
}
.text-container-wrap-text2 {
    margin-left: 370px;
}
.text-container-wrap-text3 {
    margin-left: 240px;
}

@media screen and (max-width: 1040px) {
    .join-us-main-container {
        flex-direction: column;
        min-height: 270px;
        background-image: url(../images/backimg3.jpg);
        width: 80%;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        /* text-align: center; */
        flex-wrap: wrap;
    }
    .text-container-wrap-text {
        margin-left: 0px;
    }

    .text-container-wrap-text1 {
        margin-left: 0px;
    }

    .text-container-wrap-text2 {
        margin-left: 0px;
    }

    .text-container-wrap-text3 {
        margin-left: 0px;
    }


    .join-us-main-container-text3 {
        white-space: pre-wrap;
        color: #fff;
        font-size: 3em;
        padding: 15px;
        flex-wrap: wrap;
        /* align-self: center; */

    }

    .button-container {

        justify-self: center;
        margin-right: auto;
        margin-left: auto;



    }

    .join-us-main-container-text {
        white-space: pre-wrap;
        color: #fff;
        font-size: 2em;
        padding: 10px;
        margin-top: -20px !important;
    }

    .join-us-main-container-text1 {
        white-space: pre-wrap;
        color: #fff;
        font-size: 1.9em;
        padding: 15px;
    }

    .join-us-main-container-text2 {
        white-space: pre-wrap;
        color: #fff;
        font-size: 1.3em;
        padding: 15px;
    }

    .btn {
margin-top: 25px;
        padding: 15px 35px;
        border-radius: 10px;
        outline: none;
        border: none;
        font-weight: 600;
        font-size: 20px;
        color: #fff;
        cursor: pointer;
        background-color: #e93749;
    }

    .join-us-main-container-text3 {
        white-space: pre-wrap;
        color: #fff;
        font-size: 2.1em;
        padding: 15px;
    }
}

