.movie-details-container {
    align-content: center;
}

.movie-info {
    display: flex;
    flex-wrap: wrap;
}

.movie-poster-details-container {
    /* border: 5px solid black; */
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    /* padding-left: 200px; */
    color: white;
    margin-bottom: 140px;
    margin-top: 100px;
    min-height: 650px;
    padding-top: 40px;
    /* padding-bottom: 10px; */
}

.poster{
height: 600px;
}

.movie-poster-details-container img {
    /* height: 850px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    /* margin-right: 20px; */
}



.back-button {
    white-space: pre-wrap;
    font-size: 17px;
    cursor: pointer;
    /* margin-top: 80px; */
    /* margin-left: 540px; */
    color: #fff;
}

.movie-details {
    /* margin-top: 150px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-image: url(../images/backimg1.png);
    background-size: cover;
    padding-right: 30px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 600px !important;
    width: 782px;
    /* border: 5px solid black; */
    /* flex-basis: 60%;
    padding-left: 150px; */
    /* margin-left: 2px; */
}

.movie-plot-container{
    width: 100%;
    padding-left: 30px;
    margin-top: 50px;
    color:#F73A4C;
    font-size: 0.9em;
}
.movie-title-container {
    flex-wrap: wrap;
    font-family: 'Lato',
    sans-serif !important;
    margin-top: 30px;
    display: flex;
    justify-content: flex-start;

}

.movie-title-container h2 {
    padding-left: 30px;
    flex-wrap: wrap;
    font-family: 'Lato',
        sans-serif !important;
    margin-top: 20px;
    color: rgb(49, 175, 49);
    font-weight: 800;
    text-transform: uppercase;
}

.movie-genre-container {
    color: #F73A4C;
    padding-left: 30px;
    flex-wrap: wrap;
    margin-top: 60px;
    font-size: 1.4em;
}


.movie-year-runtime-lang-container {
    color: #F73A4C;
    flex-wrap: wrap;
    /* margin-top:50px; */
    font-size: 16px;
    line-height: 1.7em;
}

.movie-country-rating-votes-container {
    color: #F73A4C;
    flex-wrap: wrap;
    /* margin-top:50px; */
    font-size: 16px;
    line-height: 1.7em;
    margin-left: 50px;
}

.movie-details li {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lato',
    sans-serif !important;
    letter-spacing: .1em;
}

.movie-name {
        font-family: 'Kanit', sans-serif !important;
    flex-wrap: wrap;
    font-size: 1.7em;
    color: #9CEC5B;
}

.movie-title-up{
    position: absolute;
   padding: 5px;
    /* border: 5px solid black; */
}

.movie-title-up-container{
    width: 648px !important;
    /* border: 5px solid black; */
height: 100px;
 border-top-right-radius: 10px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #F73A4C;
 background-image: url(../images/backimg2.jpg);
background-size: cover;
 margin-left: 1px;
}

.movie-details-container {
    position: absolute;
    width: 650px !important;
    /* border: 5px solid black; */
    height:620px;
    width: 651px !important;
    margin-left:471px;
    margin-top: 90px;
    display: flex;
    flex-wrap: wrap;
    
}
.movie-det-container {

    flex-wrap: wrap;
    /* border: 5px solid black; */
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    align-content: center;
    padding-left: 30px;
    width: 100%;
}

.button-details-container {
    left: 50%;
    margin-left: -35px;
    position: absolute;
    /* border: 5px solid black; */
    margin-bottom: 40px;
}

.after-log-btn{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.edit-btn {
    padding:5px 25px 5px 25px;
    /* color: #fff; */
    margin-left: 30px;
    height:50px;
}

.edit-btn:hover{
   transition: all 0.2s ease;
   background-color: transparent;
   color: rgb(255, 255, 255);
   border-radius: 10px;
   border: 2px solid rgb(1, 236, 21);
}

.del-btn {
    padding: 5px 25px 5px 25px;
    /* color: #fff; */
    margin-left: 30px;
    height: 50px;
}


.del-btn a{
    color: #fff;
    transition: all 0.2s ease !important;
}
.del-btn:hover {
    transition: all 0.2s ease !important;
    background-color: transparent !important;
    color: rgb(1, 236, 21) !important;
    border-radius: 10px !important;
    border: 2px solid rgb(1, 236, 21) !important;
}
.del-btn a:hover {
     color: rgb(1, 236, 21) !important;
}

@media screen and (max-width: 480px){
    .movie-details {
        /* margin-top: 150px; */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: url(../images/backimg1.png);
        background-size: cover;
        padding-right: 30px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 920px !important;
        width: 652px;
        /* border: 5px solid black; */
        /* flex-basis: 60%;
    padding-left: 150px; */
        /* margin-left: 2px; */
    }
    .movie-det-container {

        flex-wrap: wrap;
        /* border: 5px solid black; */
        display: flex;
        margin-top: 80px;
        justify-content: center;
        align-content: center;
        padding-left: 30px;
        width: 100%;
    }
    .movie-country-rating-votes-container {
        color: #F73A4C;
        flex-wrap: wrap;
        /* margin-top:50px; */
        font-size: 16px;
        line-height: 1.7em;
        margin-left: 0px !important;
        padding: 5px;
    }
    .movie-year-runtime-lang-container {
        color: #F73A4C;
        flex-wrap: wrap;
        /* margin-top:50px; */
        font-size: 16px;
        line-height: 1.7em;
        margin-left: 10px;
        padding: 5px;
    }
}

@media screen and (max-width: 430px) {
    .movie-details {
        /* margin-top: 150px; */
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        background-image: url(../images/backimg1.png);
        background-size: cover;
        padding-right: 30px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 920px !important;
        width: 652px;
        /* border: 5px solid black; */
        /* flex-basis: 60%;
    padding-left: 150px; */
        /* margin-left: 2px; */
    }

    .movie-det-container {

        flex-wrap: wrap;
        /* border: 5px solid black; */
        display: flex;
        margin-top: 80px;
        justify-content: center;
        align-content: center;
        padding-left: 30px;
        width: 100%;
    }
    .poster {
        height: 380px;
    }
}